@page
@model Sdt.Web.UI.Pages.IndexWithJsModel
@{
}

<div class="text-center">
    <div class="jumbotron">
        <h5 class="text-center">Spruch des Tages</h5>
        <p class="text-center" id="bild">
           <!-- Bild -->
        </p>
        <blockquote class="text-center">
            <cite class="lead" id="spruch"><!-- Spruch --></cite>
        </blockquote>
        <p></p>
        <p class="text-right">
            <small>
                <span id="autor"><!-- Autor name --></span> - <span id="beschreibung"><!-- Autor beschreibung --></span>
                <br />
                <span id="geburtsdatum"><!-- Autor Geburtsdatum --></span>
            </small>
        </p>
    </div>
</div>
