@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="jumbotron">
        <h5 class="text-center">Spruch des Tages</h5>
        <p class="text-center">
            <!-- TODO: Bild -->
        </p>
        <blockquote class="text-center">
            <cite class="lead">@Model.SdtVm?.SpruchText</cite>
        </blockquote>
        <p></p>
        <p class="text-right">
            <small>
                <span>@Model.SdtVm?.AutorName</span> - <span>@Model.SdtVm?.AutorBeschreibung</span>
                <br />
                <span>
                    @if (Model.SdtVm.AutorGeburtsdatum.HasValue)
                    {
                        @Model.SdtVm.AutorGeburtsdatum.Value.ToShortDateString()
                    }
                </span>
            </small>
        </p>
    </div>
</div>